.container {
    display: flex;
    max-width: 1161px;
    gap: 81px;
    height: 600px;
    margin: 0 auto;
    /* background: rebeccapurple; */
    align-items: flex-start;
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.contactform form > div:not(:last-child) {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 23px;
}

/* .contactform form > div:last-child {
    display: flex;
    margin-top: 17px;
} */

.form_btn {
    display: flex;
    gap: 32px;
    margin-top: 72px;
}

.form_container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.form_container input {
    width: 440px;
    height: 40px;
    padding-left: 10px;
    margin: 0 auto;
}

.form_container label {
    left: 40px;
    top: -10px;
    position: absolute;
    background: white;
    padding: 0 4px;
    font-weight: 600;
    font-size: 14px;
}

.form_container textarea {
    width: 440px;
    height: 120px;
    padding: 10px 10px;
    resize: none; /* Disables resizing */
    margin: 0 auto;
}

.contactform form > div:last-child {
    /* background: red; */
    display: flex;
    justify-content: end;
    margin: 17px 15px 0 0;
}
.contactform_image {
    display: flex;
    justify-content: end;
}

.contactform_image img {
    height: 630px;
    width: 608px;
    object-fit: cover;
}